.filterUnit {
	background: rgba(140, 237, 140, 0.5);
	border: 2px solid rgb(86, 210, 86);
	margin-right: 20px;
	padding: 5px;
	border-radius: 5px;
	color: rgb(0, 178, 0);
}

.filterUnit .removalLink {
	color: red;
	text-decoration: none;
	vertical-align: super;
	font-size: 11px;
}

.filterUnit .conjugationLink {
	margin: 0 10px;
}

.conjugationLink {
	margin-right: 20px;
	text-decoration: none;
	color: #C58240;
}

.conjugationLink:hover {
	color: brown;
}
