.questionLink {
	text-decoration: none;
	margin: auto;
	text-align: center;
	line-height: 36px;
	display: block;
}

.questionLink.answered {
	color: green;
}

.questionLink.notAnswered {
	color: grey;
}

.inlineForm.answered {
	background: rgba(140, 237, 140, 0.5);
	border: 2px solid rgb(86, 210, 86);
}

.inlineForm.notAnswered {
	background: rgba(53, 45, 45, 0.3);
    border: 2px solid grey;
}

.inlineForm.answered.active, .inlineForm.notAnswered.active {
	border: 2px solid red;	
}

.inlineForm.answered.active.finalRemarksBtn,
.inlineForm.notAnswered.active.finalRemarksBtn,
.inlineForm.answered.finalRemarksBtn,
.inlineForm.notAnswered.finalRemarksBtn {
	width: 180px;
}


.inlineForm {
	display: inline-block;
	margin: 10px;
	width: 36px;
	height: 36px;
	border-radius: 18px;
}