html, body {
	margin: 0px;
}

.ui-menubar.adminHeader {
	background: #3C8DBC;
	height: 50px;
	box-shadow: none;
}

.ui-menubar.adminHeader .ui-menuitem {
	background: #3C8DBC;
	box-shadow: none;
}

.ui-menubar.adminHeader .ui-menuitem-active {
	background: #3C8DBC;
	box-shadow: none;
}

.ui-menubar.adminHeader .ui-menu-list {
	background: #3C8DBC;
	border: none;
	box-shadow: none;
}

.ui-menubar.adminHeader .ui-menuitem-link {
	background: #3C8DBC;
	border: none;
	box-shadow: none;
}